Dentist lead intake.json
{
  "name": "Dentist lead intake",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1URbT-8TXHi91nMOXr6BF1fx8wCDGWVmN4UKuKjXEPGc",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1URbT-8TXHi91nMOXr6BF1fx8wCDGWVmN4UKuKjXEPGc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1603272861",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        80
      ],
      "id": "bd008135-f93d-4785-aa89-e658f5da5059",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xBKWxJeZsyed5U5L",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        240
      ],
      "id": "cc3f8919-f1ff-4699-b861-820eef69cdbb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2bceff51-6f02-45f8-912b-d148af48091e",
              "leftValue": "={{ $json.lead_status }}",
              "rightValue": "New",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        256
      ],
      "id": "e653b300-9502-48f3-84e2-7d241c4b8fcd",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "Necsoledigital@gmail.com",
        "subject": "=New Dental Lead: {{ $json.name }}\n",
        "message": "=New Lead Received  Name: {{ $json.name }} Phone: {{ $json.phone }} Email: {{ $json.email }} Service: {{ $json.service_interest }} City: {{ $json.city }} Lead ID: {{ $json.lead_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -176,
        80
      ],
      "id": "4a7bb6ac-ef14-4277-ab71-10a5e29d71be",
      "name": "Send a message",
      "webhookId": "4ceff9a5-cde4-4758-99a0-b7823b6a7ade",
      "credentials": {
        "gmailOAuth2": {
          "id": "34KaQhbXtEutMjRu",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1URbT-8TXHi91nMOXr6BF1fx8wCDGWVmN4UKuKjXEPGc",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1URbT-8TXHi91nMOXr6BF1fx8wCDGWVmN4UKuKjXEPGc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1603272861",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "lead_status": "Contacted",
            "processed_at ": "={{ $now }}",
            "notes": "={{ ($json.notes ? $json.notes + \" | \" : \"\") + \"Emailed: \" + $now.format(\"yyyy-MM-dd HH:mm\") }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_interest",
              "displayName": "service_interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at ",
              "displayName": "processed_at ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        80
      ],
      "id": "226ad286-6fb9-447c-adce-69d5b62aef39",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xBKWxJeZsyed5U5L",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99925620-b1e1-4e4e-a551-222ec47ab778",
              "leftValue": "={{ (($json.service_interest || '') + ' ' + ($json.notes || '')).toLowerCase() }}",
              "rightValue": "(emergency|root\\s*canal|severe\\s*pain|swelling|bleeding|broken\\s*tooth)",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        240
      ],
      "id": "c0172ee9-8e21-4e3c-b278-2e6aba59c43f",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b38befbc-adaf-4c62-9cab-df462d3be892",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e687a404cec64273f0d926ad63bede7ce952f982b87d231ad84f0ff78380f4c3"
  },
  "id": "E1DkEFccJuVhuUDgt4Q2G",
  "tags": []
}